@{
    ViewData["Title"] = "Cadetes";
}


@model List<WebApp.Entidades.Cadete>

<div class="text-center">
    <h1 class="display-4">Cadete</h1>
</div>
    <p><a class="btn-info btn-success btn-lg" asp-action="AltaCadete">Cargar Cadete</a>.</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Modificar </th>
                <th scope="col">Eliminar</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telf</td>
                <td>
                    <form asp-action="ModifyCadete" method="post">
                        <input hidden type="number" name="id" value="@item.Id">
                        <button type="submit" class="btn btn-primary">Modificar</button>
                    </form>
                </td>
                <td>
                    <form asp-action="DeleteCadete" method="post">
                        <input hidden type="number" name="id" value="@item.Id">
                        <input hidden type="text" name="confirmation" value="Yes">
                        <button type="submit" class="btn btn-primary">Eliminar<i class="bi bi-trash"></i></button>
                    </form>
                </td>

            </tr>
            }

        </tbody>
    </table>


